<!--The content below is only a placeholder and can be replaced.-->
<div class="wrap-div">
<div style="text-align:center">
  <h1 class="title">
   {{ title }}
  </h1>
</div>
<div>
<form class="wrapper" (submit)="addPlan($event)" >

  <div>
    <label>Input Stack/Language to learn: </label>
    <br/>
    <input
      type="text"
      class="input-field"
      (keyup.enter)="newStack=''"
      [(ngModel)]="newStack"
      [ngModelOptions]="{standalone: true}"
    />
  </div>

  <div>
    <label> Input Start Date:</label>
    <br/>
    <input
      type="text"
      class="input-field"
      (keyup.enter)="newStartDate=''"
      [(ngModel)]="newStartDate"
      [ngModelOptions]="{standalone: true}"
    />
  </div>

  <div>
    <label>Input Completion Date: </label>
    <br/>
    <input
      type="text"
      class="input-field"
      (keyup.enter)="newCompletionDate=''"
      [(ngModel)]="newCompletionDate"
      [ngModelOptions]="{standalone: true}"
    />
  </div>

  <div>
    <button class="button" type="submit">ADD PLAN</button>
  </div>

</form>

<table class="table">
  <tr>
    <th>Stack/Language</th>
    <th>Start Date</th>
    <th>Completion Date</th>
  </tr>
  <tbody *ngIf="plans">
    <tr *ngFor="let plan of plans;" >
      <td>{{plan.stack}}</td>
      <td>{{plan.startDate}}</td>
      <td>{{plan.completionDate}}</td>
    </tr>
  </tbody>
</table>
</div>
</div>

